<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahebeh || Akerha</title>
</head>
<body>
    <header style="border-bottom: 5px solid black;">
        <h1>Ahebeh || Akerha</h1>
    </header>

    <% //body tag is where all the other ejs content will go %> 
    <%- body %> 
</body>
</html>