<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahebeh || Akerha</title>
</head>
<body>
    <header style="border-bottom: 5px solid black;">
        <h1>Ahebeh || Akerha</h1>
    </header>


    <ul>
        <li><a href='/ahebeh/foods'>Favorite Foods</a></li>
        <li><a href='/ahebeh/animals'>Favorite Animals</a></li>
        <li><a href='/akerha/movies'>Worst Movies</a></li>
        <li><a href='/akerha/products'>Worst Products</a></li>
    </ul>


    <% //body tag is where all the other ejs content will go %> 
    <%- body %> 
</body>
</html>